[required]{
  border: 4px solid #caf
}

[href="#contato"]{
  background-color: aquamarine;
  border: 2px solid aquamarine;
  text-decoration: none;
  padding: 4px;
}

[href$=".com"]{
  background-color: red;
}

 /* Seleciona apenas o h2 diretamente filho da section */

section > h2 {
  color: tomato;
}
p{
  margin: 0px;
  margin-bottom: 20px;
}
article {
  background-color: lightcyan;
  padding: 10px;
}
 /* Remove a margin bottom dentro de article do ultimo paragrafo */
article p:last-child {
  margin-bottom: 0px;
}

 /* Seleciona todos os elementos da página */

*{
  border: 8px solid lightseagreen;
}