img{
  max-width: 100%;
  display: block;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: 960px;
  margin: 0 auto;
}

.cover img{
height: 100%;
object-fit: cover;
}

p{
  font-size: 1.5rem;
  max-width: 60ch;
}

.texto{
  align-self: center;
}